*    { font-size: 14rem; }
html { font-size: 1px;   }
h1   { font-size: 26rem; }
h2   { font-size: 24rem; }
h3   { font-size: 22rem; }
h4   { font-size: 20rem; }
h5   { font-size: 18rem; }
h6   { font-size: 16rem; }
